# EEG Analysis - Experiment 1 using EEG 1.0 device

**Experiment Outline**: The EEG data has been measured for 21days. For 11 days, it was monitor for the usage of system consistency and for the next 1 week, pilocarpine was injected to monitor if there were sever difference during seizuring episodes. 

The EEG device we used was manufacture as following:

![EEG Device 1.0](./img/device1.0.png) ![Intan pin](./img/intan_pin.png)

## Pin Mapping Configuration

| Pin | Input | Pin | Input | Pin | Input | Pin | Input |
|-----|-------|-----|-------|-----|-------|-----|-------|
| **1**   | **in11**  | **5**   | **in23**  | **9**   | **in12**  | 13  | in16  |
| **2**   | **in10**  | **6**   | **in22**  | 10  | in13  | 14  | in17  |
| **3**   | **in9**   | **7**   | **in21**  | 11  | in14  | 15  | in18  |
| **4**   | **in8**   | 8   | in20  | 12  | in15  | 16  | in19  |

In [1]:
import os
import importlib

from utils import read_intan as ri
importlib.reload(ri)

Successfully imported RHD utilities
Successfully imported RHD utilities

In [2]:
raw_path = './data/intan/attempt1/d0_1'
npz_path = './data/compressed/attempt1'
exp_name = raw_path.split('/')[-1]

In [ ]:
# Check if compressed data exists, if not create it from raw data
npz_file = f"{npz_path}/{exp_name}.npz"
metadata_file = f"{npz_path}/{exp_name}_metadata.json"

if os.path.exists(npz_file):
    print(f"Loading existing compressed data from {npz_file}")
    
    # Use the consolidated load function if metadata exists
    if os.path.exists(metadata_file):
        data, metadata = ri.load_experiment_numpy(npz_file, metadata_file)
    else:
        numpy_data = ri.load_numpy_data(npz_file)
        data = ri.numpy_to_dataframe(numpy_data)
        metadata = {'total_duration': 'unknown'}
        print(f"âœ“ Loaded data: {data.shape}")
        
else:
    print(f"No compressed data found. Processing raw data from {raw_path}")
    output_paths = ri.save_experiment_numpy(raw_path, npz_path)
    
    # Load the data that was just saved
    data, metadata = ri.load_experiment_numpy(output_paths['numpy_data'], output_paths['metadata'])
    
print(f"\nðŸ“Š Data Summary:")
print(f"   Type: {type(data).__name__}")
print(f"   Shape: {data.shape}")
print(f"   Columns: {list(data.columns)}")
if 'total_duration' in metadata and metadata['total_duration'] != 'unknown':
    print(f"   Duration: {metadata['total_duration']:.2f} seconds")

No compressed data found. Processing raw data from ./data/intan/attempt1/d0_1
Step 1: Converting RHD files to DataFrame...
Found 5 RHD files in ./data/intan/attempt1/d0_1
Successfully loaded data from during surgery_250609_132716.rhd
Successfully loaded data from during surgery_250609_133216.rhd
Successfully loaded data from during surgery_250609_133716.rhd
Successfully loaded data from during surgery_250609_134216.rhd
Successfully loaded data from during surgery_250609_134716.rhd
checkmark
Processing 5 files with 8 channels
Channels: ['B-008', 'B-009', 'B-010', 'B-011', 'B-012', 'B-021', 'B-022', 'B-023']
Concatenating data from all files...
Successfully created DataFrame with 28219264 samples and 8 channels
Total recording duration: 1410.96 seconds

Step 2: Converting to numpy and saving...
Converting DataFrame to numpy arrays...
  - time: shape (28219264,), dtype float64
  - B-008: shape (28219264,), dtype float64
  - B-009: shape (28219264,), dtype float64
  - B-010: shape (28219264,), dtype float64
  - B-011: shape (28219264,), dtype float64
  - B-012: shape (28219264,), dtype float64
  - B-021: shape (28219264,), dtype float64
  - B-022: shape (28219264,), dtype float64
  - B-023: shape (28219264,), dtype float64
âœ“ Saved as compressed numpy archive: ./data/compressed/attempt1\d0_1.npz
âœ“ Saved metadata: ./data/compressed/attempt1\d0_1_metadata.json

ðŸŽ‰ Successfully saved experiment data!
   - Numpy data: ./data/compressed/attempt1\d0_1.npz
   - Metadata: ./data/compressed/attempt1\d0_1_metadata.json
   - Shape: (28219264, 9)
   - Duration: 1410.96 seconds
âœ“ Loaded metadata: ./data/compressed/attempt1\d0_1_metadata.json
âœ“ Successfully loaded experiment data: (28219264, 9)
checkpoint

ðŸ“Š Data Summary:
   Type: DataFrame
   Shape: (28219264, 9)
   Columns: ['time', 'B-008', 'B-009', 'B-010', 'B-011', 'B-012', 'B-021', 'B-022', 'B-023']
   Duration: 1410.96 seconds

In [4]:
# Data processing completed successfully
# The compressed data has been saved to: ./data/compressed/attempt1.npz
print(f"âœ“ Data processing complete!")
print(f"âœ“ Compressed file saved: {npz_path}.npz")
print(f"âœ“ Data shape: {data.shape}")

âœ“ Data processing complete!
âœ“ Compressed file saved: ./data/compressed/attempt1.npz
âœ“ Data shape: (28219264, 9)

In [6]:
data.head(10)  # Display the first 5 rows of the DataFrame for verification

,time,B-008,B-009,B-010,B-011,B-012,B-021,B-022,B-023
0,0.00000,-17.909775,-160.199325,-9.544275,-23.955750,-52.892775,-32.473350,-38.975625,-35.173125
1,0.00005,-51.447825,-188.832150,-38.899575,-50.154975,-77.875200,-38.443275,-44.032950,-33.423975
2,0.00010,-33.690150,-172.975725,-22.776975,-35.439300,-62.056800,-28.556775,-33.728175,-26.199225
3,0.00015,-33.423975,-174.040425,-23.499450,-36.275850,-64.490400,-29.279250,-34.260525,-26.655525
4,0.00020,-33.271875,-172.709550,-23.385375,-35.477325,-60.992100,-27.948375,-32.701500,-25.248600
5,0.00025,-33.157800,-171.226575,-22.776975,-35.059050,-60.801975,-27.872325,-31.636800,-25.172550
6,0.00030,-32.625450,-170.656200,-22.396725,-34.450650,-60.573825,-27.606150,-32.473350,-23.651550
7,0.00035,-32.207175,-169.287300,-22.358700,-34.716825,-60.383700,-27.682200,-32.359275,-24.792300
8,0.00040,-32.777550,-169.363350,-22.282650,-34.184475,-60.193575,-27.263925,-32.283225,-24.716250
9,0.00045,-32.701500,-168.945075,-22.206600,-33.918300,-59.965425,-27.301950,-32.245200,-24.488100